@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #11172b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  color: white;
}

.elipse-sx {
  position: fixed;
  width: 230.6px;
  height: 357.85px;
  left: 0px;
  top: 324px;
  /* background: radial-gradient(
      58.12% 110.04% at 46.74% -1.76%,
      #3c6380 0%,
      rgba(25, 48, 83, 0.62) 29.63%,
      rgba(15, 18, 24, 0) 100%
    ); */
  background-color: rgba(168, 184, 252, 0.463);
  opacity: 0.35;
  filter: blur(128px);
  transform: rotate(-90deg);
}

.elipse-dx {
  position: fixed;
  width: 172.67px;
  height: 327.89px;
  right: 150px;
  top: 27.89px;
  /* background: radial-gradient(
      58.92% 58.37% at 18.8% 75.16%,
      rgba(60, 99, 128, 0.55) 0%,
      rgba(25, 48, 83, 0.341) 29.63%,
      rgba(15, 18, 24, 0) 100%
    ); */
  background-color: rgba(92, 122, 255, 0.463);
  opacity: 0.6;
  filter: blur(128px);
  transform: rotate(-180deg);
}

.learn-more {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  background: linear-gradient(
    295.38deg,
    #f3b928 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.upbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100px;
  padding: 0px 30px;
}

.navigation-bar-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 43px;
}

.navigation-bar-up .navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.navigation-bar-up .navigation .current {
  width: fit-content;
  height: 120px;
  padding: 20px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 400ms;
}

.navigation-bar-up .navigation .current a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 400ms ease;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 35px;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      0deg,
      rgb(231, 186, 72),
      rgba(242, 187, 90, 0.8768),
      rgba(191, 122, 0, 0.75),
      rgba(232, 165, 49, 0.164)
    )
    1;
  color: #fff;
  background: #0d1c2c;
}

#linea-1up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #fff solid;
  background-color: #fff;
  transition: all ease 400ms;
}

#linea-2up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #fff solid;
  background-color: #fff;
  transition: all ease 400ms;
}

#linea-3up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #fff solid;
  background-color: #fff;
  transition: all ease 400ms;
}

#linea-4up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #8fa8ff solid;
  background-color: #8fa8ff;
  transition: all ease 400ms;
}

#linea-5up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

.header {
  margin: 90px 15% 0px 15%;
}

.header h1 {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 40px;
  /* or 122% */

  letter-spacing: 0.285em;
  text-transform: uppercase;

  /* GOLD SHADE */

  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  /* or 192% */

  letter-spacing: 0.1em;

  color: #ffffff;
  width: 70%;
}

.header p .sottolineatura1 {
  position: relative;
}

.header p .sottolineatura1::after {
  content: url(assets/Vector194.svg);
  position: absolute;
  height: 1px;
  bottom: 6px;
  left: -10px;
  right: 10px;
  width: 80%;
}

.team {
  width: 100%;
  margin: 60px 0px;
  padding: 50px 0px;
  background: linear-gradient(100.36deg, #d2bb7e 20.08%, #624004 97.41%);
}

.team h1 {
  margin-top: 30px;
  font-family: "Cinzel";
  font-weight: 700;
  font-size: 37px;
  line-height: 42px;
  /* or 104% */

  text-align: center;
  letter-spacing: -0.02em;

  color: #262c40;
}

.team .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: 50px 8%;
}

.team .container .card {
  width: 20%;
  background-image: url(assets/paolo.png);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      135deg,
      rgba(253, 222, 143, 1),
      rgba(232, 171, 39, 1),
      rgba(212, 136, 2, 1),
      rgba(191, 122, 0, 0),
      rgba(255, 255, 255, 0)
    )
    1;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  box-shadow: 0px 3.328000068664551px 16.639999389648438px 0px
    rgba(0, 0, 0, 0.25);
}

.team .container .card:nth-child(2) {
  background-image: url(assets/fabrizio.png);
}
.team .container .card:nth-child(3) {
  background-image: url(assets/xander.png);
}
.team .container .card:nth-child(4) {
  background-image: url(assets/czech.png);
}

.team .container .card .ruolo {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.81) 19.79%,
    rgba(255, 255, 255, 0) 97.4%
  );
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14.976px;
  line-height: 42px;
  /* identical to box height, or 278% */

  display: flex;
  align-items: center;
  text-align: justify;
  padding-left: 10px;
  letter-spacing: 0.035em;
  width: 100%;
  color: #0d0d0d;
}

.team .container .card .nome {
  width: 100%;
  margin: 0px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: -0.02em;
  margin: 0px;

  color: #f3b928;
  padding-left: 10px;
  background: linear-gradient(90deg, #262c40 19.79%, #000000 97.4%);
}

.more-information {
  border-radius: 8px;
  z-index: 999;
  box-shadow: 24px 21px 15px 0px rgba(0, 0, 0, 0.1);

  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 90px 30px 40px 30px;
  position: relative;
  position: fixed;
  top: 100px;
  right: 10%;
  background-color: var(--blue);
  display: none;
}
.more-information .testo {
  width: 65%;
}

.more-information img {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      135deg,
      rgba(253, 222, 143, 1),
      rgba(232, 171, 39, 1),
      rgba(191, 122, 0, 0),
      rgba(255, 255, 255, 0)
    )
    1;
}

.more-information .testo h1 {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  /* or 125% */

  letter-spacing: 0.285em;
  text-transform: uppercase;

  /* GOLD SHADE */

  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.more-information .testo h2 {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 37px;
  /* or 156% */

  letter-spacing: 0.285em;
  text-transform: uppercase;

  color: #9ba4bb;
}

.more-information .testo p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15x;
  line-height: 34px;
  /* or 208% */

  letter-spacing: 0.285em;
  text-transform: lowercase;

  color: #ffffff;
}

.more-information button {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 40px;
  width: 40px;
  font-family: "montserrat";
  color: goldenrod;
  border-radius: 20px;
  font-weight: 500;
  background-color: #060e15;
  border: none;
  font-size: 18px;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.scroll-down .barra {
  border-radius: 50px;
  width: 30px;
  height: 80px;
  border: 1px gold solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative;
}

.scroll-down .barra .ball {
  width: 11px;
  height: 11px;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 12px;
  border: none;
  position: absolute;
  top: 8px;
  transition: all 400ms ease;
}

.scroll-down-title {
  font-family: "Montserrat";
  margin: 30px 0px 19px 0px;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  /* or 158% */

  letter-spacing: 0.1em;
  margin-bottom: 20px;
  color: #8fa8ff;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.navigation-bar .navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.navigation-bar .navigation .current {
  width: fit-content;
  height: 120px;
  padding: 20px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 400ms;
}

.navigation-bar .navigation .current a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 400ms ease;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 35px;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      170deg,
      rgba(255, 225, 149, 1),
      rgba(242, 187, 90, 0.8768),
      rgba(191, 122, 0, 0.75),
      rgba(191, 122, 0, 0),
      rgba(15, 18, 24, 0)
    )
    1;
  color: #fff;
  background: #0d1c2c;
}

#linea-1 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #fff solid;
  background-color: #fff;
  transition: all ease 400ms;
}

#linea-2 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #fff solid;
  background-color: #fff;
  transition: all ease 400ms;
}

#linea-3 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #fff solid;
  background-color: #fff;
  transition: all ease 400ms;
}

#linea-4 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #8fa8ff solid;
  background-color: #8fa8ff;
  transition: all ease 400ms;
}

#linea-5 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

.bottomBig {
  background: rgba(10, 12, 16, 0.25);
  border-bottom: 0.832px solid #101822;
  backdrop-filter: blur(20.8px);
  padding: 50px 0px;
  border-top: 3px #d6a653 solid;
}
.bottomBig .copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #ffffffa8;
}

.bottomBig .titolo {
  font-family: "Cinzel";
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bottomBig .mail {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
