@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #11172b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  color: white;
}

.elipse-sx {
  position: fixed;
  width: 230.6px;
  height: 357.85px;
  left: 0px;
  top: 324px;
  /* background: radial-gradient(
      58.12% 110.04% at 46.74% -1.76%,
      #3c6380 0%,
      rgba(25, 48, 83, 0.62) 29.63%,
      rgba(15, 18, 24, 0) 100%
    ); */
  background-color: rgba(168, 184, 252, 0.463);
  opacity: 0.35;
  filter: blur(128px);
  transform: rotate(-90deg);
}

.elipse-dx {
  position: fixed;
  width: 172.67px;
  height: 327.89px;
  right: 150px;
  top: 27.89px;
  /* background: radial-gradient(
      58.92% 58.37% at 18.8% 75.16%,
      rgba(60, 99, 128, 0.55) 0%,
      rgba(25, 48, 83, 0.341) 29.63%,
      rgba(15, 18, 24, 0) 100%
    ); */
  background-color: rgba(92, 122, 255, 0.463);
  opacity: 0.6;
  filter: blur(128px);
  transform: rotate(-180deg);
}

.upbarMini {
  display: none;
  justify-content: flex-start;
  align-content: center;
  padding: 13px 15px;
  background-color: #262c40;
}

.upbarMini .dropmenu .hamburger {
  cursor: pointer;
  height: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.upbarMini .dropmenu .line {
  width: 26px;
  height: 3px;
  background-color: white;
  border-radius: 6px;
}
.upbarMini .dropmenu .sidebar {
  border-right: 3px #d6a653 solid;
  border-bottom: 3px #d6a653 solid;
  position: fixed;
  top: 45px;
  left: 0px;
  width: 80%;
  height: 100vh;
  background: #11172a;
  z-index: 99;
  display: none;
  transition: display 2s ease;
}

.upbarMini .dropmenu .sidebar .menu {
  border-bottom: 3px #d6a653 solid;
}
.upbarMini .dropmenu .sidebar .menu ul {
  margin: 70px 40px 110px 40px;
  list-style: none;
}

.upbarMini .dropmenu .sidebar .menu ul li a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;

  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.upbarMini .dropmenu .sidebar .menu ul li {
  margin-bottom: 15px;
}

.upbarMini .dropmenu .sidebar .menu ul li:nth-child(1) a {
  color: #8fa8ff;
}

.upbarMini .dropmenu .sidebar .bottom .titolo {
  font-family: "Cinzel";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 30px 0px;
  text-align: center;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.upbarMini .dropmenu .sidebar .bottom .mail {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.upbarMini .dropmenu .sidebar .menu p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 11px;
  display: flex;
  align-items: flex-end;
  margin: 20px 0px 10px 10px;

  color: #ffffff;
}

.upbarMini .download a {
  text-decoration: none;
  font-family: "Cinzel";
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  /* or 170% */

  display: flex;
  align-items: flex-start;
  text-align: start;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  /* GOLD SHADE */

  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.upbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100px;
  padding: 0px 30px;
}

.navigation-bar-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 43px;
}

.navigation-bar-up .navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.navigation-bar-up .navigation .current {
  width: fit-content;
  height: 120px;
  padding: 20px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 400ms;
}

.navigation-bar-up .navigation .current a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 400ms ease;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 35px;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      0deg,
      rgb(231, 186, 72),
      rgba(242, 187, 90, 0.8768),
      rgba(191, 122, 0, 0.75),
      rgba(232, 165, 49, 0.164)
    )
    1;
  color: #fff;
  background: #0d1c2c;
}

#linea-1up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #fff solid;
  background-color: #fff;
  transition: all ease 400ms;
}

#linea-2up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #8fa8ff solid;
  background-color: #8fa8ff;
  transition: all ease 400ms;
}

#linea-3up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

#linea-4up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

#linea-5up {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

.righe {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.righe div {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  margin: 0px 15px;
}

.righe div:nth-child(1) {
  border: 2px #fff solid;
  background-color: #fff;
}

.righe div:nth-child(2) {
  border: 2px #8fa8ff solid;
  background-color: #8fa8ff;
}

.learn-more {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  background: linear-gradient(
    295.38deg,
    #f3b928 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
}

.header img {
  width: 37%;
  height: auto;
}

.header .testo {
  margin-left: 5%;
}

.header .testo h1 {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 40px;
  /* or 122% */

  letter-spacing: 0.285em;
  text-transform: uppercase;

  /* GOLD SHADE */

  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header .testo p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  /* or 192% */

  letter-spacing: 0.1em;

  color: #ffffff;
  width: 70%;
}

.header .testo p .sottolineatura1 {
  position: relative;
}

.header .testo p .sottolineatura2 {
  position: relative;
}

.header .testo p .sottolineatura3 {
  position: relative;
}
.header .testo p .sottolineatura4 {
  position: relative;
}

.header .testo p .sottolineatura1::after {
  content: url(assets/Vector194.svg);
  position: absolute;
  height: 1px;
  bottom: 6px;
  left: -10px;
  right: 10px;
  width: 80%;
}

.header .testo p .sottolineatura2::after {
  content: url(assets/Vector191.svg);
  position: absolute;
  height: 1px;
  bottom: 6px;
  left: 0px;
}

.header .testo p .sottolineatura3::after {
  content: url(assets/Vector191.svg);
  position: absolute;
  height: 1px;
  bottom: 6px;
  left: -10px;
  right: 10px;
  width: 80%;
}

.header .testo p .sottolineatura4::after {
  content: url(assets/Vector191.svg);
  position: absolute;
  height: 1px;
  bottom: 6px;
  left: -10px;
  right: 10px;
  width: 80%;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.scroll-down .barra {
  border-radius: 50px;
  width: 30px;
  height: 80px;
  border: 1px gold solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative;
}

.scroll-down .barra .ball {
  width: 11px;
  height: 11px;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 12px;
  border: none;
  position: absolute;
  top: 8px;
  transition: all 400ms ease;
}

.scroll-down-title {
  font-family: "Montserrat";
  margin: 30px 0px 19px 0px;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main {
  margin-top: 80px;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.main .testo {
  font-family: "Montserrat";
  font-weight: 400;
  width: 45%;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.main .immagini {
  width: 45%;
}

.main .immagini .foto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discover {
  margin-left: 15%;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.08em;

  /* GOLD SHADE */

  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.discover1 {
  margin-top: 90px;
  margin-bottom: 20px;
}

.surface-div {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 100px 15% 80px 15%;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.paolo-sacerdoti {
  display: flex;
  flex-direction: row;
  margin: 90px 15% 90px 9%;
}

.paolo-sacerdoti p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 15px 0px 0px 50px;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.navigation-bar .navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.navigation-bar .navigation .current {
  width: fit-content;
  height: 120px;
  padding: 20px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 400ms;
}

.navigation-bar .navigation .current a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 400ms ease;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 35px;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      170deg,
      rgba(255, 225, 149, 1),
      rgba(242, 187, 90, 0.8768),
      rgba(191, 122, 0, 0.75),
      rgba(191, 122, 0, 0),
      rgba(15, 18, 24, 0)
    )
    1;
  color: #fff;
  background: #0d1c2c;
}

#linea-1 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #fff solid;
  background-color: #fff;
  transition: all ease 400ms;
}

#linea-2 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #8fa8ff solid;
  background-color: #8fa8ff;
  transition: all ease 400ms;
}

#linea-3 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

#linea-4 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

#linea-5 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

.bottomBig {
  background: rgba(10, 12, 16, 0.25);
  border-bottom: 0.832px solid #101822;
  backdrop-filter: blur(20.8px);
  padding: 50px 0px;
  border-top: 3px #d6a653 solid;
}
.bottomBig .copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #ffffffa8;
}

.bottomBig .titolo {
  font-family: "Cinzel";
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bottomBig .mail {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .navigation-bar-up {
    display: none;
  }
  .upbar{
    padding: 0px 15px;
  }
  .upbarMini{
    display: flex;
  }
  .header{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 0px;
  }
  .header img{
    width: 80%;
    margin: 20px 0px 40px 0px;
  }
  .header .testo{
    width: 90%;
    margin: 0px 5%;
  }
  .header .testo p{
    font-size: 13px;
  }

  .main{
    
    flex-direction: column;
    margin:  40px 5%;
    width: 90%;
  }
  .main .testo{
    padding: 0px;
    width: 100%;
  }

  .main .immagini .simpleParallax{
    display: none;
  }

  .main .immagini .immagini{
    display: none;
  }
  .main .immagini .foto{
    width: 300px;
    margin-top: 50px;
  }

  .surface-div{
    margin: 50px 5%;
    width: 90%;
  }

  .paolo-sacerdoti{
    flex-direction: column;
    width: 90%;
    margin: 50px 5%;
  }
  .paolo-sacerdoti image{
    width: 300px;
  }
  .paolo-sacerdoti p{
    margin: 30px 0px;
  }
  .navigation-bar{
    display: none;
  }
  .bottomBig{
    display: none;
  }
}
