@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #11172b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  color: white;
}

/* HERO SECTION */
.upbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 13px 15px;
  background-color: #262c40;
}

.upbar .dropmenu .hamburger {
  cursor: pointer;
  height: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.upbar .dropmenu .line {
  width: 26px;
  height: 3px;
  background-color: #262c40;
  border-radius: 6px;
}
.upbar .dropmenu .sidebar {
  border-right: 3px #d6a653 solid;
  border-bottom: 3px #d6a653 solid;
  position: fixed;
  top: 45px;
  left: 0px;
  width: 80%;
  height: 100vh;
  background: #11172a;
  z-index: 99;
  display: none;
  transition: display 2s ease;
}

.upbar .dropmenu .sidebar .menu {
  border-bottom: 3px #d6a653 solid;
}
.upbar .dropmenu .sidebar .menu ul {
  margin: 70px 40px 110px 40px;
  list-style: none;
}

.upbar .dropmenu .sidebar .menu ul li a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;

  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.upbar .dropmenu .sidebar .menu ul li {
  margin-bottom: 15px;
}

.upbar .dropmenu .sidebar .menu ul li:nth-child(1) a {
  color: #8fa8ff;
}

.upbar .dropmenu .sidebar .bottom .titolo {
  font-family: "Cinzel";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 30px 0px;
  text-align: center;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bottomBig {
  background: rgba(10, 12, 16, 0.25);
  border-bottom: 0.832px solid #101822;
  backdrop-filter: blur(20.8px);
  padding: 50px 0px;
  border-top: 3px #d6a653 solid;
}
.bottomBig .copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #ffffffa8;
}

.bottomBig .titolo {
  font-family: "Cinzel";
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bottomBig .mail {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.upbar .dropmenu .sidebar .bottom .mail {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.upbar .dropmenu .sidebar .menu p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 11px;
  display: flex;
  align-items: flex-end;
  margin: 20px 0px 10px 10px;

  color: #ffffff;
}

.upbar .download a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  color: white;
  font-size: 13px;
  letter-spacing: 0.15em;
}

.main-video {
  background: url(assets/Soffitta.jpg);
  background-size: cover;
  padding-bottom: 80px;
}

.main-video .learn-more {
  text-align: end;
  padding: 60px 40px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  opacity: 0.8;
}

.main-video .button button {
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  padding: 15px 55px;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      165deg,
      rgba(255, 225, 149, 1),
      rgba(242, 187, 90, 0.8768),
      rgba(191, 122, 0, 0.75),
      rgba(191, 122, 0, 0),
      rgba(15, 18, 24, 0)
    )
    1;
}

.main-video .titolo h1 {
  font-family: "Cinzel";
  font-weight: 400;
  font-size: 63px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main-video .titolo p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  /* identical to box height, or 227% */

  text-align: center;
  letter-spacing: -0.02em;

  color: #eff3fb;
}

/* COVER SECTION */

.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--blue);
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.elipse-sx {
  position: absolute;
  width: 280.6px;
  height: 457.85px;
  left: 0px;
  top: 324px;
  /* background: radial-gradient(
    58.12% 110.04% at 46.74% -1.76%,
    #3c6380 0%,
    rgba(25, 48, 83, 0.62) 29.63%,
    rgba(15, 18, 24, 0) 100%
  ); */
  background-color: rgba(174, 179, 208, 0.313);
  opacity: 0.35;
  filter: blur(128px);
  transform: rotate(-90deg);
}

.elipse-dx {
  position: absolute;
  width: 172.67px;
  height: 327.89px;
  right: 150px;
  top: 27.89px;
  /* background: radial-gradient(
    58.92% 58.37% at 18.8% 75.16%,
    rgba(60, 99, 128, 0.55) 0%,
    rgba(25, 48, 83, 0.341) 29.63%,
    rgba(15, 18, 24, 0) 100%
  ); */
  background-color: rgba(174, 179, 208, 0.153);
  opacity: 0.6;
  filter: blur(128px);
  transform: rotate(-180deg);
}

.titolo-cover {
  font-family: "Cinzel";
  font-weight: 400;
  font-size: 86px;
  line-height: 129px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  background: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* NAVIGATION BAR*/
.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.navigation-bar p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 0.12em;

  color: #ffffff;
}

.navigation-bar .navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.navigation-bar .navigation .current {
  width: fit-content;
  height: 120px;
  padding: 20px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 400ms;
}

.navigation-bar .navigation .current a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 400ms ease;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 35px;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      170deg,
      rgba(255, 225, 149, 1),
      rgba(242, 187, 90, 0.8768),
      rgba(191, 122, 0, 0.75),
      rgba(191, 122, 0, 0),
      rgba(15, 18, 24, 0)
    )
    1;
  color: #fff;
  background: #0d1c2c;
}

#linea-1 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #8fa8ff solid;
  background-color: #8fa8ff;
  transition: all ease 400ms;
}

#linea-2 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

#linea-3 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

#linea-4 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

#linea-5 {
  width: 100px;
  border-radius: 15px;
  height: 2px;
  border: 2px #585c69 solid;
  background-color: #585c69;
  transition: all ease 400ms;
}

.video-popup {
  z-index: 999999;
  position: relative;
  position: fixed;
  top: 60px;
  left: 25%;
  width: min-content;
  padding: 80px 10px 10px 10px;
  border-radius: 10px;
  background-color: #0d1c2c;
  box-shadow: 24px 18px 39px -3px rgba(0, 0, 0, 0.1);
  display: none;
}

.video-popup button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  height: 40px;
  width: 40px;
  font-family: "montserrat";
  color: goldenrod;
  border-radius: 20px;
  font-weight: 500;
  background-color: #060e15;
  border: none;
  font-size: 18px;
}

.cover-layer{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  z-index: -9999;
  background-color:rgba(17, 23, 42, 0.78)
}

@media screen and (max-width:900px) {
  .navigation-bar{
    display: none;
  }
  .titolo-cover {
    font-size: 56px;
    margin: 0px 20px;
  }
  .upbar .dropmenu .line{
    background-color: white;
  }
  .video-popup{
    position: fixed;
    top: 30%;
    left: 5%;
    width: 90%;
  }
}

@media screen and (min-width:1800px){
  
  .bottomBig{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}